/*img{
	max-height: 500px;
	max-width: 600px;
}*/


#imagenNosotros1{
	position: absolute;
	width: 50%;
	height: 600px;
		
}


#misionLetra{
	position: absolute;
	left: 60%;
	top: 100px;
}

#cajaMision{
	position: absolute;
	width: 40%;
	color: white;
	left: 60%;
	top: 150px;
	text-align: justify;
	font-family: 'Nova Flat', cursive;
	padding-top: 20px;
}

#imagenNosotros2{
	float: right;
	position: relative;
	width: 60%;
	height: 350px;
	top: -65%;
	border: 4px solid black;
}

#equipo1 img{
	border-radius: 50%;
	-webkit-box-shadow: -8px 8px 10px #909090;
	-moz-box-shadow: -8px 8px 10px #909090;
	box-shadow: -8px 8px 10px #909090;
	z-index: 12;
}

#equipo1Nombre{
	
	width: 60%;
	-webkit-box-shadow: -8px 8px 10px #909090;
	-moz-box-shadow: -8px 8px 10px #909090;
	box-shadow: -8px 8px 10px #909090;
	background-color: white;
	margin: 10px;
	padding: 7px;
	padding-left: 15px;
	padding-bottom: 15px;
	position: relative;
	left: 35%;
	top: -55%;
	height: 17%;
	z-index: -2;
	border-radius: 35px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
}
#equipo2Nombre{
	
	width: 60%;
	-webkit-box-shadow: -8px 8px 10px #909090;
	-moz-box-shadow: -8px 8px 10px #909090;
	box-shadow: -8px 8px 10px #909090;
	background-color: white;
	margin: 10px;
	padding: 7px;
	padding-left: 15px;
	padding-bottom: 15px;
	position: relative;
	left: 35%;
	top: -55%;
	height: 17%;
	z-index: -2;
	border-radius: 35px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
	
}

#descripcion1{
	width: 60%;
	left: 38%;
	top: -55%;
	padding: 10px;
	position: relative;
	z-index: -3;
	-webkit-box-shadow: 8px 8px 10px #909090;
	-moz-box-shadow: 8px 8px 10px #909090;
	box-shadow: 8px 8px 10px #909090;
	border-radius: 0px 0px 35px 0px;
}

#descripcion2{
	width: 60%;
	left: 38%;
	top: -55%;
	padding: 10px;
	position: relative;
	z-index: -3;
	-webkit-box-shadow: 8px 8px 10px #909090;
	-moz-box-shadow: 8px 8px 10px #909090;
	box-shadow: 8px 8px 10px #909090; 
	border-radius: 0px 0px 35px 0px;
}



#cajaVision{
	position: relative;
	width: 30%;
	color: black;
	top: 100px;
	text-align: justify;
	font-family: 'Nova Flat', cursive;
	padding-top: 20px;
	padding-right: 20px;
	
}

#visionLetra{
	position: relative;
	left: 10%;
	top: 100px;
	text-transform: uppercase;
}

#cajaFrase{
	color: rgb(163, 151, 149);
	
}

#frase{
	right: 0;
}


@media screen and (max-width:640px) {
	#cajaMision{
		position: relative;
		width: 65%;
		left: 20%;

	}

	#cajaVision{
		top: 75px;
		width: 65%;
		margin-bottom: 50%;
		left: 20%;
		padding-top: 0px;
	}
	
	#misionLetra{
		left: 30%;
	}


	#visionLetra{
	position: absolute;
	left: 30%;
	top: 30px;
	}

	#imagenNosotros1{
		display: none;
	}

	#imagenNosotros2{
		display: none;
	}
}

@media screen and (max-width:990px) and (min-width: 640px) {
	#imagenNosotros2{
		height: 400px;
	}

	#imagenNosotros1{
		height: 400px;
	}

	#cajaMision{
		width: 55%;
	}

	#cajaVision{
		width: 55%;
		left: -13%;
	}

	#visionLetra{
		left: -13%;
	}
}

@media screen and (max-width:1000px) and (min-width: 990px) {
	#cajaMision{
		width: 40%;
	}
}

