@media screen and (max-width:1024px){
    #caja-imagen{
                position: relative;
                right: 30px;
                height: 70px;
                bottom: 8px;

    }
}

.header{
    background: url(../Imagenes/imagenHome1.jpg) no-repeat center;
    background-size: cover;
    min-height: 50vh;
}

.header .navbar a i{
    padding: 4px;
}

.header .navbar a:hover i{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg); 
    transition: all 1s ease;
}
